.DS_Store
.vscode/
.idea

/db/mongodb_uri.txt

# ########################## Frontend - Start Here ###########################

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/.env

# debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# ssl certificates
/frontend/ssl-certificates/*.pem

# ############################ Frontend - End ################################

# ########################## Backend - Start Here ############################

/backend/HELP.md
/backend/target/
!/backend/.mvn/wrapper/maven-wrapper.jar
!/backend/**/src/main/**/target/
!/backend/**/src/test/**/target/

### STS ###
/backend/.apt_generated
/backend/.classpath
/backend/.factorypath
/backend/.project
/backend/.settings
/backend/.springBeans
/backend/.sts4-cache

### IntelliJ IDEA ###
/backend/*.iws
/backend/*.iml
/backend/*.ipr

# ############################ Backend - End #################################