.DS_Store
.vscode/
.idea/

# ############################ Frontend ############################

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.env

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# ssl certificates
frontend/ssl-certificates/*.pem

# ############################ Frontend ############################